APP_NAME="Simple Stock Flow"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=UTC
APP_URL=http://localhost:8000

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_ES

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=stockflow
DB_USERNAME=stockflow
DB_PASSWORD=

JWT_SIGNING_KEY=
MEDIA_ROOT=/var/www/media

ADMIN_EMAIL=
ADMIN_PASSWORD=
